<div class="header">
    <div class="wrap">
        <ul class="list">
            <li style=' font-size: 25px; font-weight: 700;' class="list-item" ><a style='color:blue;' href='#'>Recipe Book</a></li>
            <li class="list-item"><a href='#'>Recipes</a></li>
            <li class="list-item"><a href='#'>Shopping List</a></li>
            <ul class="listSecond">
                <li class="list-item-2"><a href="#">Manage</a></li>
            </ul>
      
        </ul>

      
    </div>
</div>